<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">COFFEES</a>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse2"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse2">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="productsList"
          ><i class="bi bi-cup">Coffees</i></a
        >
        <a class="nav-item nav-link" routerLink="Cart">
          <i class="bi bi-cart2">Cart</i></a
        >
        <a class="nav-item nav-link" routerLink="Points"
          ><i class="bi bi-award">Points</i></a
        >
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
